#set ($language="Swift")
#set ($description="Persistence Protocol  for ${entity.name}")
#set ($author="Evol Johnson")
#set ($overwrite="true")
#set ($enabled="true")
#set ($filep="${entity.name}Repository.swift")
#set ($filename="${outputDir}/${project.name}/Sources/${project.name}/Persistence/${filep}")
protocol ${entity.name}Repository  {
	
	func createStorage() throws ->  Int 
	
	func insert(entity: ${entity.name}) throws -> Int 
	    
	func update(entity: ${entity.name}) throws -> Int 
	    
	func delete(id: Int) throws -> Int 
	    
	func retrieve(id: Int) throws -> ${entity.name}?
	    
	func list() throws -> [${entity.name}] 
}